# -----------------------------
# Git
# -----------------------------
.git
.github
.gitignore

# -----------------------------
# Python Virtual Environments
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/
notebooks/

# -----------------------------
# MLflow
# -----------------------------
mlruns/

# -----------------------------
# VS Code / IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Data
# -----------------------------
Data/raw/
Data/demo_network_traffic.csv

# Keep processed data (if needed)
!Data/processed/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Documentation
# -----------------------------
GeneratedLabelledFlows.md5