# -----------------------------
# Git
# -----------------------------
.git
.github

# -----------------------------
# Python Virtual Environments
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/
notebooks/

# -----------------------------
# MLflow
# -----------------------------
mlruns/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Large datasets
# -----------------------------
Data/raw/

# -----------------------------
# Documentation
# -----------------------------
GeneratedLabelledFlows.md5
README_assets/