# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# Virtual Environments
# -----------------------------
.venv/
venv/
env/
.env

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# MLflow
# -----------------------------
mlruns/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Training Data
# -----------------------------
Data/raw/
Data/processed/

# -----------------------------
# Notebooks
# -----------------------------
notebooks/

# -----------------------------
# Git
# -----------------------------
.git/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db